<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <p>input输入的内容为：{{ value1 }}</p>
    <input type="text" v-model="value1">
    <p>input输入的内容为：{{ value2 }}</p>
    <textarea v-model="value2">

    </textarea>
  </div>
</body>
<script src="../lib/vue.js"></script>
<script>
  new Vue({
    el: '#app',
    data: {
      value1: '',
      value2: ''
    }
  })
</script>

</html>